html, body, h1, h2, h3, h4, h5, h6, p, label, input, blockquote, cite  {
  margin: 0;
  font-family: Nunito;
}

body {
  background-color: #171717;
}

h1, h2, h3, h4, h5, h6, p, label, input, blockquote, cite {
  color: white;
}