html, body, h1, h2, h3, h4, h5, h6, p, label, input, blockquote, cite  {
  margin: 0;
  font-family: Nunito;
}

body {
  background-color: $couleurFond;
}

h1, h2, h3, h4, h5, h6, p, label, input, blockquote, cite, li {
  color: $couleurTexte;
}

a{
  text-decoration: none;
}