@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html, body, h1, h2, h3, h4, h5, h6, p, label, input, blockquote, cite {
  margin: 0;
  font-family: Nunito;
}

body {
  background-color: #171717;
}

h1, h2, h3, h4, h5, h6, p, label, input, blockquote, cite, li {
  color: beige;
}

a {
  text-decoration: none;
}

footer {
  padding: 5px 10px;
}

main {
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#intro div {
  display: flex;
  align-items: center;
}
#intro div img {
  margin-left: 20px;
}

.img, .arttexte {
  margin: 30px 0 30px 0;
}

.arttexte {
  padding: 20px;
  background-color: #5C2496;
  border-radius: 10px;
  width: calc(50vw - 40px);
}

.arttexte a, .arttexte p, .arttexte h2, .arttexte h1 {
  text-decoration: none;
  color: beige;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  font-size: x-large;
}

.img {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.img div {
  margin-bottom: 15px;
  border-radius: 10px;
}
.img div:hover p {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: x-large;
}
.img > p {
  width: 50vw;
  font-size: x-large;
  text-indent: 5%;
}
.img div:not(:hover) p {
  display: none;
}

#jeu div, #bestiaire div {
  width: 50vw;
  /*height: 274px;*/
  aspect-ratio: 2.56;
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
  transition-duration: 1s;
}

#jeu div {
  background: url("../img/bandeaujeu2.png");
}

#bestiaire div {
  background: url("../img/bandeaubestiaire.png");
}

#jeu div:hover, #bestiaire div:hover {
  background-position: center;
  background-size: 150% 150% !important;
}

@media screen and (max-width: 800px) {
  #jeu div, #bestiaire div {
    width: 90vw;
  }
  .arttexte {
    width: calc(90vw - 40px);
  }
}
#titleBestiaire {
  margin: 20px 0;
}

#titleBestiaire + p {
  margin-bottom: 50px;
}

#pageBestiaire .cardContainer {
  display: grid;
}
@media screen and (max-width: 600px) {
  #pageBestiaire .cardContainer {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 600px) and (max-width: 900px) {
  #pageBestiaire .cardContainer {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 900px) and (max-width: 1200px) {
  #pageBestiaire .cardContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1200px) {
  #pageBestiaire .cardContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
#pageBestiaire .card {
  margin: 10px 20px;
  aspect-ratio: 0.7;
  position: relative;
  border-radius: 7px;
  min-width: 250px;
  width: calc(100% - 40px);
  max-width: 350px;
  background-color: beige;
  cursor: pointer;
}
#pageBestiaire .card h3, #pageBestiaire .card p, #pageBestiaire .card li {
  color: #5C2496;
}
#pageBestiaire .card .front {
  transition: height 0s, opacity 200ms ease-in-out;
}
#pageBestiaire .card .front img {
  background: radial-gradient(circle, rgb(7, 1, 101) 0%, rgb(36, 36, 153) 35%, rgb(0, 212, 255) 100%);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom: solid #5C2496 4px;
  width: 100%;
}
#pageBestiaire .card .front .cardHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
#pageBestiaire .card .front .cardHead .dangerosite {
  display: flex;
}
#pageBestiaire .card .front .cardHead .dangerosite > div {
  margin: 2.5px;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background-color: #b397d2;
}
#pageBestiaire .card .front .cardHead .dangerosite > div.active {
  background-color: deeppink;
}
#pageBestiaire .card .front .type {
  width: calc(100% - 20px);
  padding: 0 10px;
  position: absolute;
  bottom: 10px;
  left: 0;
  text-align: right;
}
#pageBestiaire .card .back {
  /*display: none;*/
  height: 0;
  opacity: 0;
  padding: 10px;
}
#pageBestiaire .card .back ul {
  margin: 0;
}
#pageBestiaire .card:hover .front {
  /*display:none;*/
  height: 0;
  opacity: 0;
}
#pageBestiaire .card:hover .back {
  /*display:block;*/
  opacity: 1;
}

/*# sourceMappingURL=styles.css.map */
